@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #901af1, #8523e6, #7a28da, #702ccf, #672ec3, #5f2eba, #582eb0, #512ea7, #492c9d, #422a94, #3b288a, #352681);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
.form {
  width: 90vw;
  height: 80vh;
}